Repository OWASP/CheatSheetSeries, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mackowski, @jmanico, kevin.w.wall@gmail.com, @kwwall

Update HTTP Security Response Headers Cheat Sheet (#995)
  cheatsheets/HTTP_Headers_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/HTTP_Headers_Cheat_Sheet.html
  cheatsheets/Insecure_Direct_Object_Reference_Prevention_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Update Insecure_Direct_Object_Reference_Prevention_Cheat_Sheet.md
  cheatsheets/Insecure_Direct_Object_Reference_Prevention_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Update Securing_Cascading_Style_Sheets_Cheat_Sheet.md (#1028)
  cheatsheets/Securing_Cascading_Style_Sheets_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Update Logging Cheat Sheet (#1032)
  assets/Logging_Cheat_Sheet.drawio
  assets/Logging_Cheat_Sheet.drawio.png
  cheatsheets/Logging_Cheat_Sheet.md
Owners: @mackowski, @jmanico, @kwwall

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/Insecure_Direct_Object_Reference_Prevention_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Update Logging_Cheat_Sheet.md
  cheatsheets/Logging_Cheat_Sheet.md
Owners: @kwwall, @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  assets/Logging_Cheat_Sheet.drawio
  assets/Logging_Cheat_Sheet.drawio.png
  cheatsheets/Logging_Cheat_Sheet.html
  cheatsheets/Securing_Cascading_Style_Sheets_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Update Securing_Cascading_Style_Sheets_Cheat_Sheet.md
  cheatsheets/Securing_Cascading_Style_Sheets_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/Logging_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Update Logging_Cheat_Sheet.md
  cheatsheets/Logging_Cheat_Sheet.md
Owners: @kwwall, @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/Securing_Cascading_Style_Sheets_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Rename Network Segmentation CS to include md extension
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Rename Network Segmentation CS to include md extension (#1044)
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Fix typos
  .github/workflows/build-and-deploy-website.yml
  cheatsheets/Abuse_Case_Cheat_Sheet.md
  cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md
  cheatsheets/HTTP_Headers_Cheat_Sheet.md
  cheatsheets/Kubernetes_Security_Cheat_Sheet.md
  cheatsheets/Securing_Cascading_Style_Sheets_Cheat_Sheet.md
Owners: @mackowski, @jmanico, @kwwall

Fix
  cheatsheets/Logging_Cheat_Sheet.md
Owners: @kwwall, @mackowski, @jmanico

Add blank lines
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Add blank lines
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Fix Unordered list indentation [Expected: 4; Actual: 3]
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Revert
  cheatsheets/Abuse_Case_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Fix typos (#1045)
  .github/workflows/build-and-deploy-website.yml
  cheatsheets/Abuse_Case_Cheat_Sheet.md
  cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md
  cheatsheets/HTTP_Headers_Cheat_Sheet.md
  cheatsheets/Kubernetes_Security_Cheat_Sheet.md
  cheatsheets/Securing_Cascading_Style_Sheets_Cheat_Sheet.md
Owners: @mackowski, @jmanico, @kwwall

Fix (#1046)
  cheatsheets/Logging_Cheat_Sheet.md
Owners: @kwwall, @mackowski, @jmanico

Add blank lines (#1047)
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Update Logging_Cheat_Sheet.md
  cheatsheets/Logging_Cheat_Sheet.md
Owners: @kwwall, @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/Logging_Cheat_Sheet.html
  cheatsheets/Network_Segmentation_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Update Network_Segmentation_Cheat_Sheet.md
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/Network_Segmentation_Cheat_Sheet.html
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Publish Django REST Framework CS
  cheatsheets/Django_REST_Framework_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Publish Django REST Framework CS (#1049)
  cheatsheets/Django_REST_Framework_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Delete because released
  cheatsheets_draft/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Update XSS_Filter_Evasion_Cheat_Sheet.md
  cheatsheets/XSS_Filter_Evasion_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Fix typos
  cheatsheets/HTTP_Headers_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Fix typos (#1052)
  cheatsheets/HTTP_Headers_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Update XSS_Filter_Evasion_Cheat_Sheet.md (#1051)
  cheatsheets/XSS_Filter_Evasion_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Added punctuation
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Added punctuation (#1053)
  cheatsheets/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  cheatsheets/Network_Segmentation_Cheat_Sheet.html
  search/search_index.json
  sitemap.xml.gz
Owners: @mackowski, @jmanico

Delete because released (#1050)
  cheatsheets_draft/Network_Segmentation_Cheat_Sheet.md
Owners: @mackowski, @jmanico

Deploy the generated website via GitHub Actions
  News.xml
  README.md
  sitemap.xml
  sitemap.xml.gz
Owners: @mackowski, @jmanico

replaced broken link on password storage cheatsheet
  cheatsheets/Password_Storage_Cheat_Sheet.md
Owners: @kwwall, @mackowski, @jmanico

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in the repo.
*       @mackowski @jmanico

# commjoen have full access to Secrets_Management_CheatSheet
* /cheatsheets_draft/Secrets_Management_CheatSheet.md @commjoen 

# Kevin W. Wall (kwwall) 
/cheatsheets/Authentication_Cheat_Sheet.md kevin.w.wall@gmail.com @mackowski @jmanico
/cheatsheets/Authorization_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/C-Based_Toolchain_Hardening_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Choosing_and_Using_Security_Questions_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Clickjacking_Defense_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Cryptographic_Storage_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Deserialization_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Forgot_Password_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/JAAS_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Key_Management_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Logging_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Mass_Assignment_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/OS_Command_Injection_Defense_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Password_Storage_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Pinning_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Session_Management_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/SAML_Security_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/Secrets_Management_Cheat_Sheet.md @kwwall @mackowski @jmanico
/cheatsheets/TLS_Cipher_String_Cheat_Sheet.md @kwwall @mackowski @jmanico
